In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

## kNN Exercise Solution

For the kNN exercise, let's use the kNN.csv dataset. This dataset records the customer data of a company, and this company categorise their customers into 4 different groups (the last attribute). It is very helpful for the service and sales colleagues to know which customer group a customer belong to. Therefore, your task is to predict the "Group" based on a customer's information. 



### Task 1. Train a kNN classifier by k=4
Compare the accuracy based on the training dataset and the testing testing dataset.

Note: the text features, e.g. address, are already preprocessed into either number or code, but not scaled yet -- don't forget scale the data

In [2]:
df = pd.read_csv('data/kNN.csv', delimiter=';')
df.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,group
0,2,13,44,1,9,64000,4,5,0,0,2,1
1,3,11,33,1,7,136000,5,5,0,0,6,4
2,3,68,52,1,24,116000,1,29,0,1,2,3
3,2,33,33,0,12,33000,2,0,0,1,1,1
4,2,23,30,1,9,30000,1,2,0,0,4,3

In [3]:
X = df[['region', 'tenure','age', 'marital', 'address', 'income', 'ed', 'employ','retire', 'gender', 'reside']] .values
# Scale the features
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))

y = df['group'].values

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)

k = 4

neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh.predict(X_test)

array([1, 1, 3, 2, 4, 3, 3, 2, 2, 4, 1, 4, 2, 1, 3, 1, 3, 4, 3, 4, 3, 3,
       3, 1, 1, 3, 1, 1, 1, 2, 1, 1, 4, 4, 3, 2, 3, 1, 2, 3, 1, 4, 2, 1,
       2, 1, 4, 1, 4, 4, 2, 1, 2, 3, 2, 3, 3, 3, 4, 1, 1, 4, 2, 3, 3, 1,
       1, 2, 2, 1, 1, 3, 4, 3, 2, 1, 4, 2, 2, 3, 3, 1, 2, 4, 4, 2, 3, 4,
       1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 3, 1, 1, 4, 1, 1, 1, 4, 2, 2, 2, 2,
       1, 3, 2, 4, 1, 2, 1, 1, 2, 3, 4, 2, 2, 3, 1, 1, 2, 3, 1, 3, 3, 1,
       1, 4, 2, 2, 2, 1, 1, 3, 1, 1, 4, 1, 1, 2, 1, 3, 2, 2, 1, 2, 2, 3,
       2, 3, 3, 3, 3, 2, 3, 1, 1, 1, 3, 4, 1, 1, 3, 1, 3, 3, 1, 2, 2, 2,
       1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 4, 4, 3, 1, 1, 3, 3, 4, 1, 4,
       3, 3], dtype=int64)

In [4]:
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, neigh.predict(X_test)))

Train set Accuracy:  0.5475
Test set Accuracy:  0.32

## Task 2. Search for K

Write a program to search for the best choice of k value between 1 and 10 to reach the highest accuray for testing data.

In [5]:
Ks = 10
mean_acc = np.zeros((Ks-1))
std_acc = np.zeros((Ks-1))

for n in range(1,Ks):
    
    #Train Model and Predict  
    neigh = KNeighborsClassifier(n_neighbors = n).fit(X_train,y_train)
    yhat=neigh.predict(X_test)
    mean_acc[n-1] = metrics.accuracy_score(y_test, yhat)

    
    std_acc[n-1]=np.std(yhat==y_test)/np.sqrt(yhat.shape[0])

mean_acc

array([0.3  , 0.29 , 0.315, 0.32 , 0.315, 0.31 , 0.335, 0.325, 0.34 ])

In [6]:
print(f"The highest accuracy is {mean_acc.max()} based on k={mean_acc.argmax()+1}")

The highest accuracy is 0.34 based on k=9